In [ ]:
#Load libraries
import pandas as pd
import os
import pymongo as pymongo
from pymongo import MongoClient
import json

#Set working directory
os.chdir("C:/Users/admin/Documents/Python Files")

# Connect to the MongoDB, change the connection string per your MongoDB environment
Channel = MongoClient(port=27017)

#creating a database test and a collection mtcars
db = Channel['test'] 
mtcars = db['mtcars']

# Store a Dataframe-df into MongoDB
df = pd.read_csv("mtcars.csv")
data_json = json.loads(df.to_json(orient='records'))

mtcars.insert_many(data_json)

<pymongo.results.InsertManyResult at 0x20cb167a5c8>

#see our loaded data
cursor = mtcars.find()
result = pd.DataFrame(list(cursor)) 
result.head(10)

Unnamed: 0	_id	am	carb	cyl	disp	drat	gear	hp	mpg	qsec	vs	wt
0	Mazda RX4	5c6ae379452bef1974e248be	1	4	6	160.0	3.90	4	110	21.0	16.46	0	2.620
1	Mazda RX4 Wag	5c6ae379452bef1974e248bf	1	4	6	160.0	3.90	4	110	21.0	17.02	0	2.875
2	Datsun 710	5c6ae379452bef1974e248c0	1	1	4	108.0	3.85	4	93	22.8	18.61	1	2.320
3	Hornet 4 Drive	5c6ae379452bef1974e248c1	0	1	6	258.0	3.08	3	110	21.4	19.44	1	3.215
4	Hornet Sportabout	5c6ae379452bef1974e248c2	0	2	8	360.0	3.15	3	175	18.7	17.02	0	3.440
5	Valiant	5c6ae379452bef1974e248c3	0	1	6	225.0	2.76	3	105	18.1	20.22	1	3.460
6	Duster 360	5c6ae379452bef1974e248c4	0	4	8	360.0	3.21	3	245	14.3	15.84	0	3.570
7	Merc 240D	5c6ae379452bef1974e248c5	0	2	4	146.7	3.69	4	62	24.4	20.00	1	3.190
8	Merc 230	5c6ae379452bef1974e248c6	0	2	4	140.8	3.92	4	95	22.8	22.90	1	3.150
9	Merc 280	5c6ae379452bef1974e248c7	0	4	6	167.6	3.92	4	123	19.2	18.30	1	3.440

#loading a data in the form of key-value pair
dictionary = { "name": "Peter", "address": "Lowstreet 27" }
list1 = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

#deleting previously loaded data and loading a single document
mtcars.delete_many({})
x = mtcars.insert_one(dictionary)

#see our loaded data
for x in mtcars.find():
  print(x)
{'_id': ObjectId('5c6ae570452bef1974e248ff'), 'name': 'Peter', 'address': 'Lowstreet 27'}

#deleting previously loaded data and loading multiple documents
mtcars.delete_many({})
x = mtcars.insert_many(list1)

#see our loaded data
for x in mtcars.find():
  print(x)
{'_id': ObjectId('5c6ae594452bef1974e24900'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5c6ae594452bef1974e24901'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5c6ae594452bef1974e24902'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5c6ae594452bef1974e24903'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5c6ae594452bef1974e24904'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5c6ae594452bef1974e24905'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5c6ae594452bef1974e24906'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5c6ae594452bef1974e24907'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5c6ae594452bef1974e24908'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5c6ae594452bef1974e24909'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5c6ae594452bef1974e2490a'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5c6ae594452bef1974e2490b'), 'name': 'Viola', 'address': 'Sideway 1633'}